.tab
{
	width: 100%;
	border: none;
	border-collapse: collapse;
}
.tab .title
{
	border: none;
	height: 50px;
	line-height: 48px;
	text-align:center;
	font-size: 17pt;
	font-weight: bold;
	color: #002060;
	letter-spacing: 3px;
}
.tab .box
{
	height: 25px;
	line-height: 25px;
	text-align: center;
	border: 1px solid #948A54;
}
.tab .left
{
	height: 50%;
	line-height: 25px;
	text-align: right;
	padding-right: 10px;
	border: 1px solid #948A54;
	background-color: #DBE5F1;
}
.tab .left i
{
	color: Red;
	font-size: 14pt;
}
.tab .right
{
	height: 50%;
	line-height: 25px;
	text-align: left;
	border: 1px solid #948A54;
}

.tabbtn
{
	border: #7b9ebd 1px solid;
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#cecfde);
	cursor: hand;
	color: black;
	margin: 3px;
}
